WebAutomationFramework/logs/*
WebAutomationFramework/logs/application.log
WebAutomationFramework/reports
WebAutomationFramework/target
WebAutomationFramework/screenshots
WebAutomationFramework/errorScreenshots
WebAutomationFramework/test-output/*
WebAutomationFramework/test-recordings
