<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG TestSuite" parallel="tests" thread-count="3">
	<test name="Application Test 1">
		<classes>
			<class name="testSets.TS_LoginTest" />
		</classes>
	</test>
	<test name="Test2">
		<classes>
			<class name="testSets.TS_LoginTest" />
		</classes>

	</test>
</suite>